html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Trebuchet MS', sans-serif;
}

#display {
    height: 140px;
    border: 2px solid black;
    font-weight: 500;
    font-size: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    background-color: lightgray;
    padding: 5px;
}

.container {
    height: 700px;
    width: 550px;
    border: 5px solid black;
    background-color: black;
}

.container .row {
    display: flex;
}

.container button {
    border: 1px solid black;
    margin: 0;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    flex: 1;
    font-size: larger;
    padding: 0;
    border-radius: 10px;
}

.operator {
    background-color: aquamarine;
}

.number {
    background-color: cadetblue;
}

#AC {
    flex: 3;
    background-color: crimson;
}

#delete {
    background-color: darkred;
}

#decimal {
    background-color: aqua;
}

#equals {
    background-color: chartreuse;
}

#zero {
    flex: 2;
}